button {
    border: none;
    background: none;
}

input {
    font-size: 20px;
    color: black;
    font-weight: 600;
    &.number-input {
        width: 100%;
        height: 45px;
        line-height: 45px;
        text-align: center;
        padding: 0 10px;
        border-radius: 10px;
        border: 0;
        -webkit-box-shadow: 0px 0px 17px -1px rgba(132, 132, 132, 0.15);
        -moz-box-shadow: 0px 0px 17px -1px rgba(132, 132, 132, 0.15);
        box-shadow: 0px 0px 17px -1px rgba(132, 132, 132, 0.15);
    }
}

.wrapper {
    width: 100%;
}

.phone {
    width: 350px;
    margin: 40px auto 0 auto;
    position: relative;
}

.phone-container {
    width: 100%;
    margin-top: 30px;
}

.keyboard {
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
}

.number {
    font-size: 0;
    text-align: center;
    width: 100%;
    span {
        font-size: 24px;
        color: #e4bf88;
        display: inline-block;
        width: 33%;
        text-align: center;
        margin-bottom: 25px;

        i {
            display: inline-block;
            width: 80px;
            height: 80px;
            line-height: 80px;
            background: white;
            cursor: pointer;
            border-radius: 100%;
            transition: 250ms;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            -webkit-box-shadow: 8px 8px 24px 0px rgba(132, 132, 132, 0.09);
            -moz-box-shadow: 8px 8px 24px 0px rgba(132, 132, 132, 0.09);
            box-shadow: 8px 8px 24px 0px rgba(132, 132, 132, 0.09);
            &.delete {
                background: transparent;
                box-shadow: 0 0 0 0;
                -webkit-box-shadow: 0 0 0 0;
                -moz-box-shadow: 0 0 0 0;
                -ms-box-shadow: 0 0 0 0;
                color: #e4bf88;
                img {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        &:hover {
            i {
                color: black;
            }
        }
        &:active {
            i {
                transform: translateY(1px);

                -webkit-box-shadow: 5px 5px 24px 0px rgba(132, 132, 132, 0.18);
                -moz-box-shadow: 5px 5px 16px 0px rgba(132, 132, 132, 0.18);
                box-shadow: 5px 5px 16px 0px rgba(132, 132, 132, 0.18);
                &.delete {
                    box-shadow: 0 0 0 0;
                    -webkit-box-shadow: 0 0 0 0;
                    -moz-box-shadow: 0 0 0 0;
                    -ms-box-shadow: 0 0 0 0;
                    transform: translateY(0px);
                    img {
                        transtiion: 250ms;
                    }
                    &:active {
                        img {
                            transform: translateY(2px);
                        }
                    }
                }
            }
        }
    }
}

.button-area {
    position: relative;
    text-align: center;
    width: 100%;
    opacity: 1;
    transition: 250ms;
    img {
        display: inline-block;
        vertical-align: middle;
    }
}

.button-calling {
    text-align: center;
}

.button-deleting {
    position: absolute;
    text-align: right;
}

.calling-text {
    font-size: 16px;
    margin-top: 10px;
}
